
chapter 03/code/__init__.py
chapter 03/code/__pycache__/__init__.cpython-38.pyc
chapter 03/code/__pycache__/keras_azure_ml_cb.cpython-36.pyc
chapter 03/code/__pycache__/keras_azure_ml_cb.cpython-38.pyc
chapter03/code/__init__.py
chapter03/code/__pycache__/__init__.cpython-38.pyc
chapter03/code/__pycache__/keras_azure_ml_cb.cpython-36.pyc
chapter03/code/__pycache__/keras_azure_ml_cb.cpython-38.pyc
chapter06/images
chapter 03/code/__init__.py
chapter 03/code/__pycache__/__init__.cpython-38.pyc
chapter 03/code/__pycache__/keras_azure_ml_cb.cpython-36.pyc
chapter 03/code/__pycache__/keras_azure_ml_cb.cpython-38.pyc
chapter10/data
chapter10/data/mnist/test-images.gz
chapter10/data/mnist/test-labels.gz
chapter10/data/mnist/train-images.gz
chapter10/data/mnist/train-labels.gz
